.container {
	max-width: 1440px;
}

.description p:nth-child(-n+2) {
	display: none;
}

.item-single {
	@extend .row;
	.item-photo {
		@extend .col-md-4;
		@extend .col-xs-4;
		img {
			max-width: 100%;
		}
	}
	.item-text {
		@extend .col-md-8;
		@extend .col-xs-8;
	}
}

.detail-header {
	@extend .row;
	margin-bottom: 2em;

	.detail-header-text {
		@extend .col-md-10;
	}

	.back-div {
		@extend .col-md-2;
		a {
			@extend .btn;
			@extend .btn-primary;
		}
	}
}

.detail-main {
	@extend .row;
}

.detail-image {
	@extend .col-md-4;
}

.detail-text {
	@extend .col-md-8;
}
