<div class="row item-single" ng-repeat="feedItem in feedItems">
  <div class="col-md-4 item-photo">
  	<a href="/#/photos/{{feedItem.id}}"><img src="{{feedItem.media.m}}" alt="" class="thumbnail"></a>
  </div>

  <div class="item-text col-md-8">
  	<a href="/#/photos/{{feedItem.id}}">
	  	<h3 class="title">{{feedItem.title}}</h3>
	</a>
  	
  	<div class="date-published">Published: {{feedItem.pretty_date_taken}}</div>
  	
  	<a href="http://flickr.com/photos/{{feedItem.author_id}}" target="_blank">Photo Author</a>
  	
  	<a href="{{feedItem.link}}" target="_blank">View on flickr</a>
  </div>
</div>
