<header>
	<h2>{{photo.title}}</h2>
	<a href="http://flickr.com/photos/{{photo.author_id}}" target="_blank">Photo Author</a> | <span>Published: {{photo.pretty_date_taken}}</span>
</header>
<main>
	<img src="{{photo.media.m}}" alt="" class="thumbnail">
	<div class="description" ng-bind-html="photo.description"></div>
	<div class="tags">
		<p>
			Tags: 
			<span ng-repeat="tag in photo.tags">
				<a href="https://www.flickr.com/photos/tags/{{tag}}" target="_blank">{{tag}}</a>
			</span>
		</p>
	</div>
</main>